// Colors

$lightBlue: #E2EEF2;
$blue: #B8D6E0;
$darkBlue: #374D61;
$lightGrey: #ABABAB;
$darkGrey: #383838;
$red: #DA3E10;
$white: #fff;

// Fonts

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

$bodyFont: 'Source Sans Pro';

$fontSize: 1em;
$fontSizeSmall: 0.8em;
$fontSizeLarge: 1.6em;